<a href="<%= pages_batman_path %>"><img class="vs" src="<%= image_path "vsbatman.jpg" %>"></a> 
<a href="<%= pages_superman_path %>"><img class="vs" src="<%= image_path "vssuperman.jpg" %>"></a> 

<h2> vota por batman</h2>
<form  method="get" accept-charset="utf-8">
	<input type="email" name="" placeholder="email">
	<br>
	<input type="" name="nombre" placeholder="nombre">
	<br>
	<input type="submit" name="" value="votar por batman">
</form>

<h2> vota por superman</h2>
<form  method="" accept-charset="utf-8">
	<input type="email" name="" placeholder="email">
	<br>
	<input type="" name="nombre" placeholder="nombre">
	<br>
	<input type="submit" name="" value="votar por superman">
</form>
